h1 {
    color: blue;
    font-size: 2em;
}

h2 {
    color: green;
    font-size: 1.5em;
}
h3 {
    color: red;
    font-size: 1.2em;
}
h4 {
    color: purple;
    font-size: 1em;
}
h5 {
    color: orange;
    font-size: 0.8em;
}
h6 {
    color: brown;
    font-size: 0.6em;
}

p {
    color: rgb(207, 21, 167);
    font-size: 1em;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #000;
}
